@{
    ViewData["Title"] = "Home Page";
}

<html class="no-js" lang="en" dir="ltr">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PÉTALO</title>
    <link rel="shortcut icon" href="img/Icono Petal.jpeg">
    <link rel="stylesheet" type="text/css" href="~/css/">
</head>

<div class="top-menu">
    <div class="logo-container">
        <img src="logo.png" alt="Logo" class="logo">
    </div>
    <div class="menu-container">
        <ul class="menu-list">
            <li class="menu-item"><a href="#">Principal</a></li>
            <li class="menu-item"><a href="#">Productos</a></li>
            <li class="menu-item"><a href="#">Acerca de nosotros</a></li>
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Buscar...">
            <button class="search-button">Buscar</button>
        </div>
    </div>
</div>

<body style="background-image: url('img/Fondo\ de\ la\ pagina.jpeg">
    <div class="contenido">
        <h1>Bienvenido a PETALO</h1>
        <p>Official Website.</p>
    </div>
</body>
    <body>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>IdVenta</th>
                        <th>IdCliente</th>
                        <th>IdProducto</th>
                        <th>cantidad</th>
                        <th>fechapedido</th>
                        <th>total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var iten in Model){
                    <tr>
                        <td><%= IdVenta %></td>
                        <td>@iten.NombreCliente </td>
                        <td>@iten.Direccion </td>
                        <td>@iten.Precio</td>
                        <td><%= fechapedido %></td>
                        <td><%= total %></td>
                        <td>
                            
                            <button>Modificar</button>
                            <button>Ver</button>
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
        <hr size="2" color="red">

        <div class="container">
            <div class="box">
                <a><img src="img/Icono arreglo.png" alt="Imagen 1"></a>
                <p>Arreglos Florales</p>
            </div>
            <div class="box">
                <a><img src="img/Servicio, decoracion.png" alt="Imagen 2"></a>
                <p>Servicios de decoracion</p>
            </div>
            <div class="box">
                <a><img src="img/Precios icon.png" alt="Imagen 3"> </a>
                <p>Nuestros precios</p>
            </div>
        </div>

    </body>
</html> 

